/*---------------------------*/
/* Color Setup */
/*---------------------------
black: #57606f #2f3542 #323232
white: #dfe4ea #ced6e0
blue: #1e90ff #2980b9 #3b5998
green: #2ed573
yellow: #fdcb6e #f1c40f
---------------------------*/

body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-rendering: optimizeLegibility;

}


.section {
    height: 100vh;
}

.headerSection {
    background: linear-gradient(to bottom,rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.85)), url(../img/miku00.jpg) no-repeat center center fixed;
    background-size: cover;
    background-position: center;
}

#vocalog {
    text-align: center;
    margin-top: 200px;
    font-family: Lato;
    font-weight: 900;
    color: #ced6e0;
    letter-spacing: 4px;
    font-size: 500%;
}

#vocalog-p {
    margin-top: 4%;
    text-align: center;
    font-family: Source Sans Pro;
    color: #ced6e0;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 150%;
}

.center {text-align: center}

.explore {
    color: #ced6e0;
    border: 3px solid;
    font-size: 200%;
    font-weight: 600;
    margin-top: 5%;
    border-radius: 50px;
    letter-spacing: 1px;
    padding: 10px 25px 10px 25px;
    animation: color-change 2s infinite;
}

.explore:hover {
    background-color: #ced6e0;
    color: #57606f;
}

/*-------------------------------*/
/*---------Contact Us-------*/
/*-------------------------------*/
.contactUsSection {
    background-color: #ced6e0;
    font-family: Lato;
}
.contactUsSection h1 {
    margin-bottom: 40px;
    font-weight: 600;
    color: #3b5998;
}

.contactUsSection label {
    color: #333;
}

.btn-send {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin-bottom: 20px;
}

.help-block.with-errors {
    color: #ff5050;
    margin-top: 5px;
}

/*-------------------------------*/
/*---------Color Animation-------*/
/*-------------------------------*/

@keyframes color-change {
    0% {
        border-color: #ced6e0;
    }

    40% {
        border-color: #1e90ff;
    }

    80% {
        border-color: #2ed573;
    }
    
    100% {
        border-color: #ced6e0;
    }
}

/*-------------------------------*/
/*---------Media Query-------*/
/*-------------------------------*/

/* Media Query Height*/

@media only screen and (min-height: 300px) {
    #vocalog {
        font-size: 350%;
    }
}

@media only screen and (min-height: 500px) {
    #vocalog {
        margin-top: 250px;
    }
}

@media only screen and (min-height: 700px) {
    #vocalog {
        margin-top: 300px;
    }
}

@media only screen and (min-height: 900px) {
    #vocalog {
        margin-top: 400px;
    }
}

@media only screen and (min-height: 1200px) {
    
}


/* Media Query Width*/
@media only screen and (min-width: 200px) {
    #vocalog {
        font-size: 250%;
    }
    #vocalog-p {
        font-size: 100%;
    }
}

@media only screen and (min-width: 400px) {
    #vocalog {
        font-size: 250%;
    }
    #vocalog-p {
        font-size: 110%;
    }
}

@media only screen and (min-width: 600px) {
    #vocalog {
        font-size: 400%;
    }
    #vocalog-p {
        font-size: 120%;
    }
}

@media only screen and (min-width: 800px) {
    #vocalog {
        font-size: 400%;
    }
    #vocalog-p {
        font-size: 130%;
    }
}

@media only screen and (min-width: 1000px) {
    #vocalog {
        font-size: 450%;
    }
    #vocalog-p {
        font-size: 150%;
    }
}

@media only screen and (min-width: 1200px) {
    #vocalog {
        font-size: 500%;
    }
    #vocalog-p {
        font-size: 150%;
    }
}
