/*---------------------------*/
/* Color Setup */
/*---------------------------
black: #57606f #2f3542 #323232
white: #dfe4ea #ced6e0
blue: #1e90ff #2980b9 #3b5998
green: #2ed573
yellow: #fdcb6e #f1c40f
---------------------------*/

body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    
}




body {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.85)), url(../img/miku00.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

#vocalog {
    text-align: center;
    margin-top: 65%;
    font-family: Lato;
    font-weight: 900;
    color: #ced6e0;
    letter-spacing: 4px;
}

#vocalog-p {
    margin-top: 5%;
    text-align: center;
    font-family: Source Sans Pro;
    color: #ced6e0;
    letter-spacing: 1px;
    font-weight: 600;
}

.button a {
    text-decoration: none;
    font-size: 25px;
    font-weight: 800;
    color: #ced6e0;
}


.button-a, .button-b {
    text-align: center;
    border: 5px solid;
    padding: 2%;
    border-radius: 35px;
    animation: color-change 3s infinite;
    max-width: 200px;
}

.button-a:hover, .button-b:hover {
    background-color: #27ae60;
}


/*-------------------------------*/
/*---------Color Animation-------*/
/*-------------------------------*/

@keyframes color-change {
    0% { border-color: #557dd0; }
    50% { border-color: #2ed573; }
    100% { border-color: #557dd0; }
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .button-a, .button-b {
        max-width: 100px;
        margin-left: 40%;
        margin-bottom: 2%;
        padding: 1%;
    }
    .button a {
        font-size: 15px;
    }
    #vocalog {
        margin-top: 45%;
    }
    
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {...} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #vocalog-p {
        margin-bottom: 7%;
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {...} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}