@import 'variable';

.container-fluid {
    max-width: 1200px;
    margin: auto;
}

.w-100 {
    width: 100%;
}

.w-50 {
    width: 50%;
}

.news-modal {
    top: 2% !important;
    height: 95vh !important;
    max-height: 95vh !important;
}

.video-modal {
    width: 600px;
}

.border-round {
    border-radius: 15px;
}

.menu {
    position: fixed;
    left: 20px;
    top: 20px;
    z-index: 999;
}

.heading-main {
    letter-spacing: 3px;

    @media screen and (max-width: $md) {
        font-size: 2rem;
    }
}

.hide {
    display: none;
}

.vl {
    border-left: 1px dashed grey;
    height: 100%;

    @media screen and (max-width: $lg) {
        border: none;
    }
}

.vr {
    border-right: 1px dashed grey;
    height: 100%;

    @media screen and (max-width: $lg) {
        border: none;
    }
}

.vt {
    border-top: 1px dashed grey;
    height: 100%;
}

.vb {
    border-bottom: 1px dashed grey;
    height: 100%;
}
