/* blue #4267b2 #34495e white #ecf0f1 black #353b48 */
body {
    font-family: 'Open Sans', 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    background: #ecf0f1;
    color: #ecf0f1;
}

.homeicon img {
    max-height: 30px;
    width: auto;
}

.login-form {
    background: #353b48;
    width: 400px;
    height: auto;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    border-radius: 30px;
}

.login-form h1 {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    word-spacing: 2px;
}

.login-form h3 {
    padding-bottom: 3%;
    color: #f1c40f;
    font-size: 90%;
}

.login-form input[type = "text"], .login-form input[type = "password"] {
    background: none;
    display: block;
    text-align: center;
    color: #ecf0f1;
    border: 3px solid #4267b2;
    border-radius: 20px;
    padding: 14px 10px;
    margin: 20px auto;
    width: 200px;
    outline: none;
    transition: 0.25s;
    
}

.login-form input[type = "text"]:focus, .login-form input[type = "password"]:focus {
    width: 250px;
    border-color: #2ecc71;
    transition: .2s;
}

.login-form input[type = "submit"] {
    padding: 15px;
    border: 3px solid #2ecc71;
    background: none;
    border-radius: 20px;
    text-decoration: none;
    width: 120px;
    color: #ecf0f1;
    cursor: pointer;
    margin: 10px;
}

.login-form input[type = "submit"]:hover {
    background: #2ecc71;
    width: 150px;
    transition: .2s;
}

.login-form input[type = "text"]:hover, .login-form input[type = "password"]:hover {
    animation: color-change 2s infinite;
}

@keyframes color-change {
    0% { border-color: #4267b2; }
    50% { border-color: #2ecc71; }
    100% { border-color: #2863dd; }
}

/* Media Query */

/* On screens that are 992px or less, set the background color to blue */
/*
@media screen and (max-width: 992px) {
 
}
*/
/* On screens that are 600px or less, set the background color to olive */
/*
@media screen and (max-width: 600px) {
   
}
*/
/* On screens that are 480px or less, set the background color to olive */
@media screen and (max-width: 480px) {
    .login-form {
        width: 280px;
    }
}
























